aside {
    &.contact {
        background: $gray-darker;
        border: solid 1px $black-almost;
        padding: 2%;
        text-align: center;
        margin: 0 0 5% 5% !important;
        float: none;
        width: 90%;

        @include tablet {
            float: right;
            width: 25%;
            min-width: 250px;
        }

        h3 {
            margin-bottom: 0 !important;
        }
        a {
            font-size: 2em;

            &:hover {
                text-decoration: none;
                border-bottom: solid 1px $blue;
            }
        }
        span {
            display: block;
            font-size: 0.7em;
            margin: 2% auto;
        }
    }
}
