a {
    &:hover {
        text-decoration: underline;

        span {
            text-decoration: underline;
        }
    }
}

img {
    max-width: 100%;
}

#map {
    width: 100%;
    height: 200px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.image {
    &-left {
        p {
            @include desktop {
                width: 80%;
            }
        }
        img {
            display: block;
            margin: auto;

            @include desktop {
                float: left;
            }
        }
    }

    &-right {
        p {
            @include desktop {
                width: 75%;
            }
        }
        img {
            display: block;
            margin: auto;

            @include desktop {
                float: right;
                margin: 0 0 3% 3%;
            }
        }
    }
}

.egg {
    display: block;
    width: 50%;
    font-size: 0.5em;
    text-align: center;
    margin: 1% auto !important;
}

.play-button {
    height: 40px;
    width: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 10.5px;
        left: 24px;
        margin: 0 auto;
        border-style: solid;
        border-width: 9.5px 0 9.5px 17px;
        border-color: transparent transparent transparent rgba(0, 173, 239, 0.7);
    }

    &:hover {
        background: rgba(0, 173, 239, 1);

        &:after {
            border-color: transparent transparent transparent rgba(255, 255, 255, 1);
        }
    }
}

.logos {
    img {
        margin: 2% auto;
        display: block;
        vertical-align: middle;
    }
}

.shia {
    width: auto;
    background-repeat: no-repeat;
    width: 160px;
    height: 305px;
    margin: auto;

    .play-button {
        margin: 125px 0 0 50px;
        display: block;
        position: absolute;
    }

    @include desktop {
        float: right;
        margin: -220px 5% 0 0 !important;
    }
}

.button-links a {
    transition: all 0.2s ease-in;
    display: block;
    width: 80%;
    text-align: center;
    padding: 2% 0px;
    border: 1px solid $blue;
    margin: 5% auto;

    &:hover {
        background: $blue;
        color: $white !important;
        text-decoration: none;
    }
}

sub {
    word-wrap: break-word;
}
