// Site Colors
$blue: #0fa0ce;
$pink: #f8d0d8;
$red: #dc143c;
$green-light: #cce0cc;
$green: #006400;
$white: #ffffff;
$gray: #f7f7f7;
$gray-darker: #d8d8d8;
$black-almost: #222222;
$black: #000000;

// Constraints
$maximum_content_width: 1024px;
